body {
  margin: 0;
  padding: 0;
  width: 100%;
}

section {
  min-height: 403px;
  margin: 0 10%;
  padding: auto;
  text-align: left;
  justify-content: left;
  font-family: Poppins;
}

.farst_content {
  align-items: center;
  display: flex;
}

.half_width {
  width: 55%;
  padding-left: 0%;
}

.one_parson {
  width: 80%;
  padding: 0 0 0 10px;
  margin: 0;
}

h1 {
  color: #333;
  font-family: Yeseva One;
  font-size: 68px;
  font-style: normal;
  font-weight: 400;
  padding: 21px;

}

/*h1*/
span {
  color: #FFAD5A;
}

.half_width .border {
  width: 7px;
  height: 105px;
  border-radius: 14px;
  background: #FF5959;
  position: absolute;
  top: 159px;
  left: 345px;
}

.btn p {
  width: 471px;
  color: #3E3E3E;
  font-feature-settings: 'clig'off, 'liga'off;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.btn {
  text-decoration: none;
  background-image: linear-gradient(tomato, salmon);
  color: #FFFFFF;
  letter-spacing: 1px;
  display: flex;
  width: 172px;
  padding: 12px;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-weight: 600;

}

.btn:hover {
  color: #5209b3;
}

.us {
  margin-top: 27px;
  font-size: 16px;
  font-weight: 600;
}

.sub_hader {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 25px
}

.flexbox {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.farst {
  width: 360px;
  height: 376px;
  background: #4F9DA61A;
  padding: 40px 20px 10px 35px;
  margin: 10px;
  border-radius: 26px;
}

.sceond {
  width: 360px;
  height: 376px;
  background: #FF59591A;
  padding: 40px 20px 10px 35px;
  margin: 10px;
  border-radius: 26px;
}

.third {
  width: 360px;
  height: 376px;
  background: #FFF4D6;
  padding: 40px 20px 10px 35px;
  margin: 10px;
  border-radius: 26px;
}

.right {
  top: 0;
  margin-left: 1610px;
  padding: 0;
  position: relative;
  display: flex;
}

.third_content {
  position: relative;
}

.rec {
  margin-top: 50px;
  margin-left: -88px;
}

.half_width1 {
  position: absolute;
  left: 0px;
  padding: 0;
  margin: 10;
  top: 0;
  display: flex;


}

.two_parson {
  /* margin-right: 106px; */
  width: 70%;
}

.text_arae {
  left: 0;
  margin: 0;
  padding-left: 188px;

}

h4 {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.btn2 {
  text-decoration: none;
  border-radius: 5px;
  background-image: linear-gradient(tomato, rgb(255, 162, 151));
  padding: 10px 20px;
  color: #FFF;
  font-weight: 600;
  transition: all 1s;
  position: absolute;
  margin-top: 20px;
}

a:hover {
  letter-spacing: 0.1rem;
  color: #5209b3;
}

.fourth_content {
  margin-top: 0px;
  display: flex;

}

.half_width3 {
  display: flex;
  left: 110px;
  margin: 0;
  top: 0;
}

.svg {
  margin-top: 270px;
  margin-left: 1099px;
  position: absolute;
  z-index: -1;
}

.text_arae3 {
  margin-left: 0px;
  padding-right: 260px;

}

.left {
  margin-left: -191px;

}

.fifth_head {
  text-align: center;
  font-size: 60px;
  margin-bottom: 0;
}

.fifth-content {
  width: 75%;
  margin: 0;
  top: 0;
  padding-left: 10%;
  justify-content: center;
  align-items: center;
}

.app {
  position: absolute;
  width: 65%;
  display: flex;
}

.content_farst {
  padding: 100px;
  position: relative;
}

.content_second {
  padding: 130px;
}

.Rectangle_19 {
  top: 95px;
  left: 90px;
  margin: 0;
  height: 100px;
  width: 100PX;
  background: #FFAD5A;
  border-radius: 26px;
  position: absolute;
  z-index: -99;
}

.Rectangle_20 {
  top: 360px;
  left: 340px;
  margin: 0;
  height: 50px;
  width: 50PX;
  background: #FFAD5A;
  border-radius: 15px;
  position: absolute;
  z-index: -99;
}

.Rectangle_21 {
  top: 555px;
  left: 110px;
  margin: 0;
  height: 50px;
  width: 50PX;
  background: #FFAD5A;
  border-radius: 15px;
  position: absolute;
  z-index: -99;
}

.content_second h4 {
  font-size: 60px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.1;
  margin-bottom: 20px;

}

.content_second p {
  margin: 0;
  top: 0;
  margin-bottom: 10px;
}

.footer {
  margin-top: 300px;
  height: 150px;
  padding: 0;
  width: 100%;
  text-align: center;
  background: #333;
  color: #FFF;
}

.footer_head {
  font-family: Lobster;
  font-size: 50px;
  margin-bottom: 0;
}

.year {
  color: #FF5959;
  line-height: 44px;
  letter-spacing: 0.5px;
}

.footer_end {
  margin-top: 15px;
  color: #D9DBE1;
  font-family: Manrope;

}